[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "glad"]
	path = glad
	url = https://github.com/migafgarcia/glad.git
